/*Padronizando todas as tags*/
*{
    margin: 0px;
    padding: 0px;
    font: 14px sans-serif;
}

/*Estilizando tags HTML5*/
header{
    background-color: gray;
    overflow: auto;
}
h1{
    float: left;
    font-size: 32px;
    margin: 10px;
    color: #ffffff;
}
h2{
    font-size: 28px;
}
h3{
    text-align: left;
    font-size: 18px;
}
.menu{
        float: right;
        display: inline-block;
}
main{
    margin: 10px auto;
    width: 980px;
    overflow: auto;
    padding-top: 30px;
}
footer{
    background-color: gray;
    text-align: center;
    color: #ffffff;
    padding: 15px;
}
#footermenu{
    padding: 0px;
    position:absolute;
    bottom:0;
    width:100%;
}
label{
font-family: Impact;
font-size: 20px;
color: #4F4F4F;
}

form{
    width: 600px;
    margin: 30px auto;
    background-color: #ffffff;
    border: solid 5px #cccccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

input[type="password"],
input[type="email"],
input[type="text"]{
    width: 588px;
    border: solid 1px #cccccc;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
}
textarea{
    width: 588px;
    border: solid 1px #cccccc;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
}
input[type="submit"]{
    border: solid 1px #cccccc;
    border-radius: 5px;
    padding: 5px;
}

/*Links*/
a{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.5s;
    padding: 21px;
}
a:hover{
    background-color: #cccccc;
}
/*IDs*/

#validar{
    background-color: #ff0000;
    padding: 15px;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    display: none;
    border-radius: 1em;
}

#opcao1{
    padding: 0px;
    position:absolute;
    bottom:200px;
    right: 300px;
    width:20%;
}
#opcao2{
    padding: 0px;
    position:absolute;
    bottom:200px;
    left: 300px;
    width:20%;
}


/*CLASS*/

.logo{
    background-color: transparent;
    margin: 10px auto;
    width: 100px;
    position: relative;
    left: 10px;
    border: solid 2px #000000;
    padding: 10px;
    transition: 2s;

}
.logo:hover{
    background-color: white;
    transition: 2s;
}

.logotext{
    position: relative;
    left: 30px;
    bottom: 70px;
    font-size: 50px;
    color: #ffffff;
}

/*GRADE */
.grade{
   display: inline-block;
   width: 23%;
   background-color: transparent solid;
   padding:100px;
   margin:10px;
   text-align: center;
   border-right: transparent solid 10px;
   border-bottom: #a5a7aa solid 10px;
   border-left: transparent 50px;
   color: #000000;
}
.grademenu{
   display: inline-block;
   width: 400px;
   background-color: transparent solid;
   padding:100px;
   margin:10px;
   text-align: center;
   border-right: transparent solid 10px;
   border-bottom: #a5a7aa solid 10px;
   border-left: transparent 50px;
   color: #000000;
}
.grade:hover{
	-webkit-animation: shadow-drop 0.4s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
	        animation: shadow-drop 0.4s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;

}
.grade:hover .texto{
            opacity:1;
}

/*IMAGES BODY*/
.imagelistar{
    width: 100%;
    height: 380px;
    background-size:100% auto;
}
.imagemenu{
    width: 100%;
}
.texto{
  padding:20px;
  font-family:Arial;
  text-align:center;
  opacity:0;
  transition: opacity .2s linear;
  background-color: black;
  background-color: rgba(0,0,0,0.6);
  color: white;
  width: 353px;
  height: 382px;
  background-size:100% auto;
}


.imagemenuadmin{
    width: 100px;
}

.formadmin{
    width: 1200px;
    margin: 30px auto;
    background-color: #ffffff;
    border: solid 5px #cccccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.editar{
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}.editar:hover {
    background-color: white;
    color: blue;
}

.excluir{
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}.excluir:hover {
    background-color: white;
    color: red;
}

/*FOLLOW*/

.follow{
    display: inline-block;
}

@-webkit-keyframes shadow-drop {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}



