<!DOCTYPE HTML>
<html>
	<head>
		<title>PokemonSearch</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel= "stylesheet" type= "text/css" href="../static/style/main.css">

	</head>
	<body>
		<!-- Wrapper -->
			<div>
					<!-- Header -->
					<header>

						<!-- Menu -->
						<ul >
							<li class="menu"><a href="/login">Login</a></li>

						</ul>
						<div>

							<!-- Logo -->
							<a href="/" class="logo">
								<span><img src="../static/images/Articuno.png" width="100px"/></span>
							</a>
							<label class="logotext">PokemonSearch - Pokedex</label>
						</div>
					</header>


				<!-- Main -->
					<div align="center">
						<div>
							<ul>
								{% for index_data in list_data %}
									<div class="grade">
											<div class="imagelistar" style=" background-image: url('/static/images/{{ index_data[2] }}.png')">
												<div class="texto">
													<h2>Information
													</h2>
													<h3>
														Pokedex ID: {{index_data[1]}}<br>
														Name: {{index_data[2]}}<br>
														Type: {{index_data[3]}}<br>
														Height: {{index_data[4]}} m<br>
														Weight: {{index_data[5]}} kg<br>
														Category: {{index_data[6]}}<br>
														First Skill: {{index_data[7]}}<br>
														Second Skill: {{index_data[8]}}<br>
														First Weakness: {{index_data[9]}}<br>
														Second Weakness: {{index_data[10]}}<br>
														Description: {{index_data[11]}}
													</h3>
												</div>
											</div>
										<h2 >{{ index_data[2] }}</h2>
									</div>
								{% endfor %}
							</ul>
						</div>
					</div>

				<!-- Footer -->
					<footer>
						<div>
							<section>
								<br>
								<h6>Renan Berti Ribas</h6>
								<h2>Follow</h2>
								<li class="follow">
									<a href="https://github.com/Renanrbsc">GitHub</a>
								</li>
							</section>
						</div>
					</footer>
			</div>
	</body>
</html>