<!DOCTYPE HTML>
<html>
	<head>
		<title>POKEMON</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel= "stylesheet" type= "text/css" href="static/style/main.css">

	</head>
	<body>
		<!-- Wrapper -->
			<div>
					<!-- Header -->
					<header>

						<!-- Menu -->
						<ul >
							<li class="menu"><a href="/login">Login Administrador</a></li>

						</ul>
						<div>

							<!-- Logo -->
							<a href="/" class="logo">
								<span><img src="../static/images/Articuno.png" width="100px"/></span>
							</a>
							<label class="logotext">PokemonSearch - Search</label>
						</div>
					</header>


				<!-- Main -->
					<div align="center">
						<div>
							<ul>
								{% for i in lista %}
									<div class="grade">
											<div class="imagelistar" style=" background-image: url('/static/images/{{ i[2] }}.png')">
												<div class="texto">
													<h2>Informação
													</h2>
													<h3>
														ID Pokedex: {{i[1]}}<br>
														Nome: {{i[2]}}<br>
														Tipo: {{i[3]}}<br>
														Altura: {{i[4]}} m<br>
														Peso: {{i[5]}} kg<br>
														Categoria: {{i[6]}}<br>
														Habilidade: {{i[7]}}<br>
														Habilidade2: {{i[8]}}<br>
														Fraqueza: {{i[9]}}<br>
														Fraqueza2: {{i[10]}}<br>
														Descrição: {{i[11]}}
													</h3>
												</div>
											</div>
										<h2 >{{ i[2] }}</h2>
									</div>
								{% endfor %}
							</ul>
						</div>
					</div>

				<!-- Footer -->
					<footer>
						<div>
							<section>
								<br>
								<h6>Renan Berti Ribas</h6>
								<h2>Follow</h2>
								<li class="follow">
									<a href="https://github.com/Renanrbsc">GitHub</a>
								</li>
							</section>
						</div>
					</footer>
			</div>
	</body>
</html>