<!DOCTYPE HTML>
<html>
	<head>
		<title>PokemonSearch</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel= "stylesheet" type= "text/css" href="../static/style/main.css">
	</head>
	<body>
		<!-- Wrapper -->
			<div>

					<!-- Header -->
					<header>

						<!-- Menu -->
						<ul >
							<li class="menu"><a href="/exit">Exit </a></li>
							<li class="menu"><a href="/searchidpokemon">Search ID </a></li>
							<li class="menu"><a href="/menuadmin/addpokemon">Add New Pokemon</a></li>
							<li class="menu"><a href="/menuadmin/addallpokemon">Add All Pokemons</a></li>
							<li class="menu"><a href="/login">Menu Admin</a></li>

						</ul>

						<div>

							<!-- Logo -->
							<a href="/" class="logo">
								<span><img src="../static/images/Articuno.png" width="100px"/></span>
							</a>
							<label class="logotext">PokemonSearch - Admin </label>
						</div>
					</header>


				<!-- Main -->
					<div align="center">
						<div>
							<form class="formadmin">
								<h1 id="validar"></h1>
								<label>Menu Pokemon admin</label><br><br>
								<table border="1">
									<thead>
										<th style="width:20px;"></th>
										<th style="width:100px;">Database_ID</th>
										<th style="width:35px;">Pokedex_ID</th>
										<th style="width:100px;">Name</th>
										<th style="width:100px;">Type</th>
										<th style="width:70px;">Height</th>
										<th style="width:70px;">Weight</th>
										<th style="width:100px;">Category</th>
										<th style="width:150px;">First_Skill</th>
										<th style="width:150px;">Second_Skill</th>
										<th style="width:70px;">First_Weakness</th>
										<th style="width:70px;">Second_Weakness</th>
										<th style="width:50px;">Description</th>
									</thead>
									<tbody>
									{% for index_data in list_data %}
										<tr >
											<th>
												<input style="width:20px;" type="radio" name="id" value="{{index_data[0]}}">
											</th>
											<th style="width:35px;">{{index_data[0]}}</th>
											<th style="width:100px;">{{index_data[1]}}</th>
											<th style="width:100px;">{{index_data[2]}}</th>
											<th style="width:70px;">{{index_data[3]}}</th>
											<th style="width:70px;">{{index_data[4]}}</th>
											<th style="width:100px;">{{index_data[5]}}</th>
											<th style="width:150px;">{{index_data[6]}}</th>
											<th style="width:150px;">{{index_data[7]}}</th>
											<th style="width:70px;">{{index_data[8]}}</th>
											<th style="width:70px;">{{index_data[9]}}</th>
											<th style="width:70px;">{{index_data[10]}}</th>
											<th style="width:50px;">
												<select style="width:20px;">
													<option>{{index_data[11]}}</option>
												</select>
											</th>
											<th><a class = "Delete" href="menuadminpokemon/deletepokemon?id={{index_data[0]}}">Delete</a> </th>
											<th><a class = "Update" href="menuadminpokemon/updatepokemon?id={{index_data[0]}}">Update</a> </th>
										</tr>
									{% endfor %}
									</tbody>
								</table>
							</form>
						</div>
					</div>

				<!-- Footer -->
					<footer>
						<div>
							<section>
								<br>
								<h6>Renan Berti Ribas</h6>
								<h2>Follow</h2>
								<li class="follow">
									<a href="https://github.com/Renanrbsc">GitHub</a>
								</li>
							</section>
						</div>
					</footer>
			</div>
	</body>
</html>