<!DOCTYPE HTML>
<html>
	<head>
		<title>PokemonSearch</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel= "stylesheet" type= "text/css" href="../static/style/main.css">
	</head>
	<body>
		<!-- Wrapper -->
			<div>

					<!-- Header -->
					<header>

						<!-- Menu -->
						<ul >
							<li class="menu"><a href="/exit">Exit </a></li>

						</ul>

						<div>

							<!-- Logo -->
							<a href="/" class="logo">
								<span><img src="../static/images/Articuno.png" width="100px"/></span>
							</a>
							<label class="logotext">PokemonSearch - Admin </label>
						</div>
					</header>


				<!-- Main -->
					<div>
						<div>
							<form>
								<h1 id="validar"></h1>
								<label>Menu Pokemon Admin</label><br><br>
								<a href="/menuadminpokemon" class="grademenu">
									<div>
										<img class="imagemenuadmin" src="../static/images/pokemon_menu.png"/>
									</div>
									<h2 >Pokemon Menu</h2>
								</a>

								<a href="/menuadmintrainer" class="grademenu">
									<div>
										<img class="imagemenuadmin" src="../static/images/Trainer_menu.png"/>
									</div>
									<h2 >Trainer Menu</h2>
								</a>
							</form>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footermenu">
						<div>
							<section>
								<br>
								<h6>Renan Berti Ribas</h6>
								<h2>Follow</h2>
								<li class="follow">
									<a href="https://github.com/Renanrbsc">GitHub</a>
								</li>
							</section>
						</div>
					</footer>
			</div>
	</body>
</html>