<!DOCTYPE HTML>
<html>
	<head>
		<title>PokemonSearch</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel= "stylesheet" type= "text/css" href="../static/style/main.css">
	</head>
	<body>
		<!-- Wrapper -->
			<div>

					<!-- Header -->
					<header>

						<!-- Menu -->
						<ul >
							<li class="menu"><a href="/login">Login</a></li>

						</ul>

						<div>

							<!-- Logo -->
							<a href="/" class="logo">
								<span><img src="../static/images/Articuno.png" width="100px"/></span>
							</a>
							<label class="logotext">PokemonSearch</label>
						</div>
					</header>


				<!-- Main -->

					<div>
						<a href="/menupokemon" class="grademenu" id="opcao1">
									<div>
										<img class="imagemenu" src="../static/images/pokemon_menu.png" width="100px" />
									</div>
									<h2 >Pokemon Menu</h2>
						</a>

						<a href="/menutrainer" class="grademenu" id="opcao2">
									<div>
										<img class="imagemenu" src="../static/images/Trainer_menu.png" width="100px" />
									</div>
									<h2 >Trainer Menu</h2>
						</a>
					</div>


				<!-- Footer -->
					<footer id="footermenu">
						<div>
							<section>
								<br>
								<h6>Renan Berti Ribas</h6>
								<h2>Follow</h2>
								<li class="follow">
									<a href="https://github.com/Renanrbsc">GitHub</a>
								</li>
							</section>
						</div>
					</footer>
			</div>
	</body>
</html>