<!DOCTYPE HTML>
<html>
	<head>
		<title>PokemonSearch</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel= "stylesheet" type= "text/css" href="../../static/style/main.css">
	</head>
	<body>
		<!-- Wrapper -->
			<div>

					<!-- Header -->
					<header>

						<!-- Menu -->
						<ul >
							<li class="menu"><a href="/exit">Exit </a></li>
							<li class="menu"><a href="/menuadminpokemon">Menu Admin Pokemon</a></li>

						</ul>

						<div>

							<!-- Logo -->
							<a href="/" class="logo">
								<span><img src="../../static/images/Articuno.png" width="100px"/></span>
							</a>
							<label class="logotext">PokemonSearch - Admin </label>
						</div>
					</header>


				<!-- Main -->
					<div align="center">
						<div>
							<form action="/menuadminpokemon/updatepokemon/id/data">
								<h1 id="validar"></h1>
								<label>Menu Pokemon admin</label><br><br>
								<label>Update Pokemon</label><br><br>

								<input type="text" placeholder="Name" name="Name">
								<input type="text" placeholder="Type" name="Type">
								<input type="text" placeholder="Height" name="Height">
								<input type="text" placeholder="Weight" name="Weight">
								<input type="text" placeholder="Category" name="Category">
								<input type="text" placeholder="First Skill" name="First_Skill">
								<input type="text" placeholder="Second Skill" name="Second_Skill">
								<input type="text" placeholder="Fisrt Weakness" name="Fisrt_Weakness">
								<input type="text" placeholder="Second Weakness" name="Second_Weakness">
								<textarea placeholder="Description" name="Description"></textarea>

								<input type="submit" value="Send">

							</form>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footermenu">
						<div>
							<section>
								<br>
								<h6>Renan Berti Ribas</h6>
								<h2>Follow</h2>
								<li class="follow">
									<a href="https://github.com/Renanrbsc">GitHub</a>
								</li>
							</section>
						</div>
					</footer>
			</div>
	</body>
</html>