<!DOCTYPE HTML>
<html>
	<head>
		<title>PokemonSearch</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel= "stylesheet" type= "text/css" href="../static/style/main.css">
	</head>
	<body>
		<!-- Wrapper -->
			<div>

					<!-- Header -->
					<header>

						<!-- Menu -->
						<ul >
							<li class="menu"><a href="/exit">Exit </a></li>
							<li class="menu"><a href="/menuadminpokemon">Menu Admin Pokemon</a></li>

						</ul>

						<div>

							<!-- Logo -->
							<a href="/" class="logo">
								<span><img src="../static/images/Articuno.png" width="100px"/></span>
							</a>
							<label class="logotext">PokemonSearch - Admin </label>
						</div>
					</header>


				<!-- Main -->
					<div align="center">
						<div>
							<form action="/menuadmin/addpokemon">
								<h1 id="validar"></h1>
								<label>Menu Pokemon Admin</label><br><br>
								<label>Add New Pokemon</label><br><br>

								<input type="text" placeholder="Name" name="name">
								<input type="text" placeholder="Type" name="type">
								<input type="text" placeholder="Height" name="height">
								<input type="text" placeholder="Weight" name="weight">
								<input type="text" placeholder="Category" name="category">
								<input type="text" placeholder="First Skill" name="first_skill">
								<input type="text" placeholder="Second Skill" name="second_skill">
								<input type="text" placeholder="Fisrt Weakness" name="first_weakness">
								<input type="text" placeholder="Second Weakness" name="second_weakness">
								<textarea placeholder="Description" name="description"></textarea>

								<input type="submit" value="Send">

							</form>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footermenu">
						<div>
							<section>
								<br>
								<h6>Renan Berti Ribas</h6>
								<h2>Follow</h2>
								<li class="follow">
									<a href="https://github.com/Renanrbsc">GitHub</a>
								</li>
							</section>
						</div>
					</footer>
			</div>
	</body>
</html>